/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("images/pastel-skies-bg.jpg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

div {
	flex-flow: inherit;
}

.center {
	width: 35%;
	min-width: 300px;
	padding: 2%;
	margin: 50px auto;
	background: rgba(255, 228, 225, 0.35);
	text-align: center;
	border-radius: 20px 45px;
}

.center:hover {
	background: rgba(255, 228, 181, 0.50);
	/*border-radius: 50%;*/
	box-shadow:
		1px 1px rgba(102, 51, 153, 0.5),
		2px 2px rgba(102, 51, 153, 0.5),
		3px 3px rgba(102, 51, 153, 0.5);
	-webkit-transform: translateX(-3px);
	transform: translateX(-3px);

}


.logo {
	text-align: center;
	padding: 1.5%;
}

h1 {
	font-family: 'Courgette', cursive;
	font-family: 'Roboto Slab';
	font-size: 3em;
	margin: 0px auto 10px auto;
	color: black;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-family: 'Times New Roman';
	font-size: 1.5em;
	line-height: 1.4;
	color: black;
	padding: 0px 0px;
	margin: 0px auto 25px auto;
}

p {
	font-family: 'Georgia';
	font-size: 1.2em;
	line-height: 1.6;
	color: black;
}

nav {
	font-family: 'Cambria', serif;
	font-size: 1.2em;
	width: 65%;
	/* This is the width of the nav element */
	margin: 0 auto;
	/* This centers the entire nav element inside the center div */
	border-width: 3px;
	/* This puts a 3 pixel border on top and bottom of the nav element, the zero eliminates the left and right sides of the border */
	background: rgb(110, 184, 227, 0.5);
	text-align: center;
	margin-top: 2em;
	border-radius: 20px;
	/* This adds a bit of space above the nav element */
}

nav li {
	display: inline;
	/* This allows the block level elements to display next to one another */
}

nav a {
	display: inline-block;
	padding: 10px;
	/* This adds space around each of the links */
}

a {
	color: rgba(28,84,136);
	text-decoration: none;
	/* This removes the underline */
	font-weight: bold;
}

a:hover {
	color: black;
	background: rgb(255, 182, 193);
	/* This is the pink hover effect -- you'll want to change this! */
}